<!-- weekdays/templates/weekdays.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekdays</title>
</head>
<body>
    <h1>Weekdays</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Russian</th>
            </tr>
        </thead>
        <tbody>
            {% for day in weekdays_data %}
                <tr>
                    <td>{{ day.russian }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
